.wrapper {
  display: grid;
  grid-area: CategoryDescription;
  grid-template-columns: 15rem 1fr;
  grid-template-areas:
                    'image .'
                    'image .';
}

.image {
  grid-area: image;
}

.title {

}

.description {

}
