.count {
  display: flex;
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  font-size: .9rem;
  right: -7px;
  top: -4px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  left: 1.2rem;
  background-color: var(--yt-spec-brand-button-background);
  color: var(--yt-spec-static-brand-white);
  border: 2px solid var(--yt-spec-brand-background-primary);
}

.wishlist {
  display: inline-block;
  max-width: 2.5rem;
  margin: 0 1.2rem;
}
