.wrapper {
  grid-area: Breadcrumbs;
  height: var(--breadcrumbs-height);
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  background-color: var(--yt-spec-10-percent-layer);
  z-index: 2;
  color: var(--yt-spec-text-primary)
}

.list {
  margin: .5rem 0;
  padding: 0;
  display: flex;
  font-size: 1.1rem;
  grid-gap: .5rem;
  &_item {
    list-style: none;
    margin: 0;
    padding: 0;
    &:after{
      content: '/';
      padding-left: .5rem;
    }
  }
  &_current {
    list-style: none;
    opacity: .8;
  }
}
