.heading {
  outline: 0;
  display: flex;
  align-items: center;
  color: var(--yt-spec-text-primary);
  padding: 0 24px;
  min-width: 0;
  cursor: pointer;
  width: 100%;
  height: var(--paper-item-min-height,48px);
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  &:hover {
    background-color: var(--yt-spec-badge-chip-background);
  }
  span {
    font-size: 1.4rem;
    margin-left: auto;
  }
  &.active {
    background-color: var(--ytd-guide-entry-renderer-active-guide-item-background-color,var(--yt-spec-10-percent-layer));
    &:hover {
      background-color: var(--yt-spec-badge-chip-background);
    }

  }
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: .3s max-height ease-in-out;
  &_active {
    overflow-y: auto;
    max-height: 100vh;
  }
}
