.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--yt-spec-text-primary);
  max-width: 30rem;
  z-index: 999;
}

.error {
  background-color: rgba(255, 116, 116, 0.9);
}

.success {
  background-color: rgba(86, 255, 86, 0.9);
}

.info {
  background-color: rgba(94, 168, 255, 0.9);
}

.message {
  font-size: 1.2rem;
}
