.wrapper {
  margin: 1.2rem 0;
  padding: 0;
  max-width: 30rem;
  border: 1px solid var(--theme-color-secondary);
}
.item{
  margin: 0;
  padding: .6rem 1.2rem;
  border-bottom: 1px solid var(--theme-color-secondary);
  display: flex;
  flex-direction: column;
  button , span{
    background-color: transparent;
  }

  span {
    font-size: .7em;
  }

  &_active {
    button {
      border-color: var(--theme-color);
    }
    background-color: var(--theme-color-secondary);
  }
}
