.wrapper {
  grid-area: select;
  display: inline-block;

  label {
    &:before , &:after{
      display: none;
    }
  }

  input {
    &[type='hidden'] {
      display: none;
    }
    &:focus-within{
      border: none;
      background-color: var(--yt-spec-10-percent-layer);
    }
  }
}

.mainInput {

  &ReadOnly {
    cursor: pointer;
  }
}

.options {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  max-height: 30rem;
  min-width: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 8px 0;
  background: var(--paper-listbox-background-color, var(--primary-background-color));
  color: var(--paper-listbox-color, var(--primary-text-color));
  border: var(--paper-listbox-border);
  background-color: var(--yt-spec-brand-background-primary);
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.listItem {
  list-style: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  padding: 0 .6rem 0 .8rem;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  min-height: 2.4rem;
  span {
    background-color: transparent;
    white-space: nowrap;
  }
  &:focus-visible{
    border: none;
    outline: none;
    background-color: var(--yt-spec-10-percent-layer);
  }
  &:hover {
    background-color: var(--yt-spec-10-percent-layer);
  }
  &Active{
    background-color: var(--ytd-guide-entry-renderer-active-guide-item-background-color,var(--yt-spec-10-percent-layer));
  }
}
