.slider {
  width: 100%;
  grid-area: slider;
  overflow-x: hidden;
  :global {
    .react-draggable-dragging {
      transition-duration: unset!important;
    }
  }
}

.list {
  display: flex;
  grid-gap: 0;
  flex-wrap: nowrap;
  transition-property: transform;
}
