.slider {
  width: 100%;
  grid-area: slider;
  overflow-x: hidden;
}

.Dragging{
  transition-duration: unset!important;
}

.dots {
  display: flex;
  div {
    &[aria-selected="true"]{
      background-color: #fff;
    }
    width: 15px;
    padding: 5px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--theme-color-secondary);
    cursor: pointer;
  }
}

.list {
  display: flex;
  grid-gap: 0;
  flex-wrap: nowrap;
  transition-property: transform;
}
