.wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  height: var(--header-height);
  background-color: var(--yt-spec-brand-background-primary);
  border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  padding: 0 16px;
}
