.wrapper {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-areas:
          'g .'
          'g .'
          'g .'
          'g .'
          'g .'
          'relatedProducts relatedProducts';
  grid-column-gap: 40px;

  .gallery {
    grid-area: g;
  }
}


