.wrapper {
  padding: 0 2.4rem;
  h1 {
    text-transform: uppercase;
    margin-left: 1.2rem;
  }
}

.heading {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

.tabList {
  display: flex;
  div {
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--yt-spec-badge-chip-background);
    border: 1px solid var(--yt-spec-10-percent-layer);
    color: var(--yt-spec-text-primary);
    cursor: pointer;
    transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
    &:hover {
      background-color: var(--yt-spec-10-percent-layer);
    }
    &[aria-current="true"]{
      background-color: var(--yt-spec-brand-background-primary);
      &:hover {
        background-color: var(--yt-spec-10-percent-layer);
      }
    }
  }
}
