.wrapper {
  padding: 1.2rem 0;
  font-size: 1.4rem;
}

.discount {
  font-size: .7em;
  padding: .1rem .4rem;
  color: #fff;
  margin-right: .6rem;
  background-color: var(--yt-spec-brand-button-background);
}

.current {
}
